@model List<DomainModel.Joke>
@{
    ViewBag.Title = "Index";
}

<div>
Enter Your Joke:
@Html.TextArea("txtPostNokta")
<input type="submit" id="submitPost" value="Post" onclick="Post()"/>
</div>
<div id="AllJokesDiv">
<table>
    @foreach (var item in Model)
    {
        <tr>
        <td><img src="http://graph.facebook.com/@item.Member.FBID/picture" width="60" height="60"></td>
            <td>
                @item.Member.Name
            </td>
            <td>
                @item.JokeText
            </td>
        </tr>
    }
</table>
</div>

<script>
    function Post() {
        var jokeText = $("#txtPostNokta").val();
        alert(jokeText);

        $.ajax({
            URL: "/Joke/PostJoke",
            type: "POST",
            data: { joketext: jokeText },
            success: function (result) {
                alert(result);
                $("#AllJokesDiv").html(result);   //Your resulting action
            }
        });


//        $.post("/Joke/PostJoke", { joketext: jokeText }, function (data) {
//            $('#AllJokesDiv').html(data);
//        });

    }
</script>
