@model List<DomainModel.Joke>
@{
    ViewBag.Title = "Index";
}

<div>
Enter Your Joke:
@Html.TextArea("txtPostNokta")
<input type="submit" id="submitPost" value="Post" onclick="Post()"/>
</div>

<div id="detailedJokesDiv">
@Html.Partial("Joke/indexPartial")
</div>

<script>
    function Post() {
        var jokeText = $("#txtPostNokta").val();
        var memberId = $("#memberID").val(); 
        alert(jokeText);

//        $.ajax({
//            URL: "/Joke/PostJoke",
//            type: "POST",
//            data: { joketext: jokeText , memberID: memberId},
//            success: function (result) {
//                alert(result);
//                $("#AllJokesDiv").html(result);   //Your resulting action
//            }
//        });


        $.post("/Joke/PostJoke", { joketext: jokeText, memberID: memberId }, function (data) {
            alert(data);
            $('#AllJokesDiv').html(data);
        });

    }
</script>
